/* redigerat av Rahmat*/
*{margin: 0;
padding: 0;}

.head{
    color: white;
    font-family:Georgia, Geneva, Tahoma, sans-serif;
    line-height: 1,5;
}
.p{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif, Geneva, Tahoma, sans-serif;
    line-height: 1,5;
}
#top{
    width:100%;
    height: 100%;
    background-size:cover;
}
#btn{
    position: absolute;
    left: 47%;
    bottom: 5%;
    height: 40px;
    width: 100px;
    font-size: 18px;
    border-radius: 7px;
    background-color: white;
    font-family: cursive;
}
#btn:hover{
   background-color: lightgreen;
}